 <!-- <label for="name">Name</label>
 <input type="text" class="form-control" required> -->

 <!-- <div class="container-fluid">
   <div class="row">
     <form>


       <div class="form-group">
         <label for="name">Name</label>
         <input type="text" class="form-control" id="name" required>

         
         </div>
       


       <label for="description">Description</label>
       <textarea Description is Required class="form-control" id="description" rows="4" required></textarea><br><br>

       <div class="form-group">
          <label for="complete">Date Created</label>
          <input type='date' id="complete" required>
          
        </div>
        <button type="Submit" class="btn btn-success btn-lg">Add Quote</button>
     </form> -->
<!--Section: Live preview-->
<section class="form-dark">

  <!--Form without header-->
  <div class="card card-image"
    style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table7.jpg'); width: 100%;">
    <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">

      <!--Header-->
      <div class="text-center">
        <h3 class="white-text mb-5 mt-4 font-weight-bold"><strong>ADD</strong> <a
            class="green-text font-weight-bold"><strong> QUOTE</strong></a></h3>
      </div>

      <!--Body-->
      <div class="md-form">
        <label for="Form-email5">Your name</label><br><br>
        <input type="text" id="Form-email5" class="form-control white-text">
        
      </div>

         <div class="md-form">
              <label for="Form-email5">Author</label><br><br>
           <input type="text" id="Form-email5" class="form-control white-text"><br>
        
         </div>

      <div class="md-form pb-3">
        
        <label for="quoteadded">Add a Quote</label><br><br>
        
        <input type="text" class="form-control white-text">
       
       

        <div class="md-form mx-5 my-5">
          <input type="datetime-local" id=" inputMDEx" class="form-control">
          <label for="inputMDEx">Date added:</label>
        </div>
      </div>

      <!--Grid row-->
      <div class="row d-flex align-items-center mb-4">

        <!--Grid column-->
        <div class="text-center mb-3 col-md-12">
          <button type="button" class="btn btn-success btn-block btn-rounded z-depth-1">Add Quote</button>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->

  

    </div>
  </div>
  <!--/Form without header-->

</section>
<!--Section: Live preview-->
