<!--The content below is only a placeholder and can be replaced.-->
<app-quotes-navbar></app-quotes-navbar>

<div style="text-align:center">



  <!-- <app-quotes-form></app-quotes-form>
  <app-quotes-details></app-quotes-details>
  <app-quotes></app-quotes> -->

  <div class="container">
    <div class="row mt-5">
      <div class="col-md-4">
        <app-quotes-form></app-quotes-form>
      </div>
      <div class="col-md-7">


        <app-quotes></app-quotes>
        <ul>
          <li *ngFor='let quote of quotes'>
            <div class="media">
              <div class="row">
                <div class="col-xsm-4">
                  <h3 class="h3-responsive font-weight-bold mr-3">By :{{quote.author}}
                    <!-- <ul>
      <li *ngFor='let quote of quotes'>{{quote.author}}</li>
    </ul> -->

                  </h3>
                </div>
                <div class="media-body mb-3">
                  <div class="col-sm-8">
                    <h6 class="mt-0 font-weight-bold">Uploaded by :{{quote.name}}
                      <!-- <ul>
        <li *ngFor='let quote of quotes'>{{quote.name}}
        </li>
      </ul> -->

                    </h6>

                    <hr class="hr-bold mb-0 my-2" />
                  </div>
                </div>
                <p class="p-3 blue-grey lighten-5 blue-grey lighten-5">
                  {{quote.wise}}
                </p>
                <button (click)='toogleDetails(i)'>Toogle Details</button>
                <!-- <ul class="p-3 blue-grey lighten-5 blue-grey lighten-5" class="mb-0">
     
    <li *ngFor='let quote of quotes'> {{quote.wise}}</li>
  </ul> -->


              </div>
            </div>
            {{quote.details}}
            <!-- <ul class="p-3 blue-grey lighten-5 blue-grey lighten-5">
    <li *ngFor='let quote of quotes'>{{quote.details}}</li>
  </ul> -->
          </li>
        </ul>

        *ngIf="quotes.showDetails" [quotes]='quotes'>

        <p *ngIf='quotes.length > 2'>You have too many quotes</p>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
